.menu{
    width: auto;
    height: 80px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    padding-left: 20px;
    padding-right: 20px;
}
.menu__right > a {
    padding-right: 10px;
}
.menu > div > a{
    text-decoration: none;
    color: white;
}